.App__navigation {
  padding: 25px 0;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
}

.App__navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 40px;
}

.App__navigation .active {
  font-weight: bold;
  color: black !important;
}

.Homepage {
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex !important;
  flex-direction: column;
}

.Homepage__noc-input-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 150px;
}

.Homepage__noc-input-wrap input {
  height: 35px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

.Homepage__start-button {
  border-radius: 10px !important;
  font-size: 20px !important;
  width: 100%;
  margin-top: 10px !important;
}

.Calculations {
  justify-content: center;
}

.Calculations input{
  max-width: 40px;
}

.Calculations__grid-item {
  border: 1px solid black;
  margin: 10px 5px !important;
  padding: 10px;
  background-color: lightgray;
}
.Calculations__eq-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.Calculations__input-wrap input{
  height: 30px;
  max-width: 60px;
}

.FooterNav {
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.FooterNav .Timer svg {
  font-size: 50px;
}


/*utils*/
.text-center {
  text-align: center;
}

.disabled {
  color: gray !important;
  pointer-events: none;
}

.green-bg {
  background-color: lightgreen;
}

.red-bg {
  background-color: lightcoral;
}